# Vivado project logs
vivado*.jou
vivado_*.str
vivado_*.zip
open*
*.log
*.tmp

# Pycharm dir
.idea/

# Trace files
*.tr
*_rom.v

imports/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o*
*.tmp_versions/
*.symvers
*.order
*.ko*
*.mod*

# Jupyter Notebook
.ipynb_checkpoints
